
h1{
    background: #df0a0a;


}
h2{
    background:green;
}
h3{
    background: cyan;
}
body {
    font-family: sans-serif;
    margin: 0;
  }
  
  header {
    border-top-color: #df0a0a 2px;
    border-bottom-color: green 2px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    padding: 20px 0;
  }
  
  img {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin-right: 20px;
  }
  
  h1 {
    font-size: 24px;
  }
  
  p {
    font-size: 16px;
  }
  
  section {
    padding: 20px 0;
  }
  
  h2 {
    font-size: 20px;
    margin-bottom: 10px;
  }
  
  ul {
    list-style-type: none;
    padding: 0;
  }
  
  li {
    margin-bottom: 10px;
  }
  
  footer {
    text-align: center;
    padding: 20px 0;
  }
